<h1>Students of Hogwarts</h1>

<% @students.each do |student| %>
  <section id="student-<%= student.id %>">
    <%= "Name: #{student.name}" %>
    <%= "Age: #{student.age}" %>
    <%= "House: #{student.house}" %>
  </section>
<% end %>
